<app-window-layout>
    <!-- left -->
    <div 
        windowTab 
        class="space-y-2"
    > 
        <button 
        (click)="onViewAllFolder()"
        class="group flex items-center w-full space-x-1 hover:bg-black/10 py-1 px-2 rounded-md" >
            <mat-icon class="text-sky-600" >bookmark_border</mat-icon>
            <span class="text-gray-800" >All File</span>
        </button>

        <div class="flex items-center justify-between" >
            <p class="text-gray-500 px-2" >Folders</p>
            <button class="text-gray-500 px-2 flex" (click)="onCreateFolder()"><mat-icon>add</mat-icon></button>
        </div>

        <!-- folder -->
        <button 
            *ngFor="let item of folder" 
            (click)="onViewFolder(item)"
            class="flex items-center w-full space-x-3 hover:bg-black/10 py-1 px-2 rounded-md" 
        >
            <mat-icon class="text-sky-600" >folder_open</mat-icon>
            <span class="text-gray-800" >{{item.nameFolder}}</span>
        </button>

    </div>
    
    <!-- right -->
    <div 
        windowDisplay 
        class="overflow-y-auto h-full bg-gray-50"
    >
        <!-- header bar window -->
        <div class="flex items-center justify-between px-4 py-3 border-b bg-gray-50 shadow-sm" >
            
            <div class="flex items-center space-x-2" >
                <p class="text-xl" >{{currentFolder}}</p>

            </div>

            <div class="flex items-center space-x-2" >
                <div *ngIf="currentFolder !== 'All Folder'" class="flex items-center space-x-2">
                    <button class="flex items-center" (click)="onAddFile()" > <mat-icon class="h-full">add</mat-icon> </button>
                    <button class="flex items-center" (click)="onEditFolder()"> <mat-icon class="h-full">edit</mat-icon> </button>
                    <button class="flex items-center" (click)="onDeleteFolder()"> <mat-icon class="h-full">delete</mat-icon> </button>
                </div>
                <div class="flex items-center border rounded-lg p-1 bg-white">
                    <mat-icon class="mr-2" >search</mat-icon>
                    <input type="text" class="outline-none" placeholder="Search" >
                </div>
            </div>
        </div>

        <!-- section window -->
        <div class="p-2 grid grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-7 gap-2">
            <div 
            *ngFor="let item of currentFiles"
            [routerLink]="['/analyze',item.ID]"
            class="rounded-xl h-[100px] p-2 bg-gradient-to-b from-sky-400 to-blue-400 flex flex-col cursor-pointer" >
                <mat-icon class="text-white" >attach_file</mat-icon>
                <p class="text-white mt-auto line-clamp-2" >{{item.fileName}}</p>
            </div>
        </div>

    </div>
</app-window-layout>