<app-window-layout>
    <!-- Left -->
    <div windowTab class="space-y-2">
        <div class="flex items-center w-full space-x-1 py-1 px-2 rounded-md">
            <mat-icon class="text-sky-600">supervised_user_circle</mat-icon>
            <span class="text-gray-800">Contact</span>
        </div>

        <div class="flex items-center justify-between">
            <p class="text-gray-500 px-2">Group</p>
        </div>

        <!-- groups contact -->
        <button *ngFor="let item of groups"
            class="flex items-center w-full space-x-3 hover:bg-black/10 py-1 px-2 rounded-md">
            <mat-icon [class]="item.color">{{item.icon}}</mat-icon>
            <span class="text-gray-800 ml-2">{{item.label}}</span>
        </button>

        <div class="flex items-center justify-between">
            <p class="text-gray-500 px-2">Your Group</p>
            <button class="text-gray-500 px-2 flex"><mat-icon>add</mat-icon></button>
        </div>

        <!-- groups custom -->
        <button class="flex items-center w-full space-x-3 hover:bg-black/10 py-1 px-2 rounded-md">
            <mat-icon class="text-purple-600">groups</mat-icon>
            <span class="text-gray-800">Gamer Group</span>
        </button>

    </div>

    <!-- Right -->
    <div windowDisplay class="flex flex-col h-full bg-gray-50">
        <!-- header bar window -->
        <div class="flex items-center justify-between px-4 py-3 border-b bg-gray-50 shadow-sm">
            <div class="flex items-center space-x-2">
                <button (click)="toggleOnDisplayListContact()"
                    class="flex items-center hover:bg-black/10 rounded-md p-1"> <mat-icon
                        class="h-full">menu_open</mat-icon>
                </button>
                <p class="text-xl">Contact</p>
            </div>

            <div class="flex items-center space-x-2">
                <div class="flex items-center border rounded-lg p-1 bg-white">
                    <mat-icon class="mr-2">search</mat-icon>
                    <input type="text" class="outline-none" placeholder="Search">
                </div>
            </div>
        </div>

        <!-- section contact -->
        <div class="flex flex-1 items-center overflow-y-auto">
            <!-- list contact -->
            <div [ngClass]="{ 'hidden':!classListContact }"
                class="h-full p-2 space-y-3 overflow-y-auto md:w-[300px] w-[200px] ">
                <button *ngFor="let item of [1,2,3,4,5,6,7,8,9,7,6]"
                    class="w-full hover:bg-black/10 rounded-xl p-2 flex items-center space-x-2">
                    <img src="https://i.pravatar.cc/" class="rounded-full h-[40px] w-[40px]">
                    <span class="text-gray-700">Apple, Tim</span>
                </button>
            </div>

            <!-- detail conatact -->
            <div class="flex-1 h-full border-l p-2 space-y-2 overflow-y-auto text-gray-900">
                <div class="flex flex-col lg:flex-row items-center p-4 space-x-5 relative">
                    <img src="https://i.pravatar.cc/400" class="rounded-full h-[100px] w-[100px]">
                    <div class="h-full flex-1">
                        <p class="text-2xl ml-1">John Appleseed</p>
                        <p class="ml-1 text-gray-500">21 year old (Born: April 1, 1976)</p>
                        <div class="flex items-center space-x-4">
                            <button class="rounded-full p-1">
                                <i class="text-3xl text-sky-600 fab fa-facebook"></i> </button>
                            <button class="rounded-full p-1">
                                <i class="text-3xl text-sky-500 fab fa-twitter"></i> </button>
                            <button class="rounded-full p-1">
                                <i class="text-3xl text-purple-500 fab fa-facebook-messenger"></i></button>
                            <button class="rounded-full p-1">
                                <i class="text-3xl fab fa-instagram"></i></button>
                        </div>
                    </div>
                    <div class="absolute top-0 right-0">
                        <button class="rounded-full p-1">
                            <i class="text-xl text-gray-500 fa fa-cog"></i> </button>
                    </div>
                </div>

                <div class="border"></div>
                <div class="p-1">
                    <div class="flex space-x-4 border py-4 px-6 rounded-xl bg-gray-200">
                        <div><i class="text-lg text-red-500 fa fa-calendar-alt"></i></div>
                        <div>
                            <p>Say about</p>
                            <p class="text-gray-600">Luch W.John - Saturday, August 6 18:00-20:30</p>
                            <p class="text-gray-600">Dumpling Time 11 Division St, San fancisco, CA</p>
                        </div>
                    </div>
                </div>

                <div class="border"></div>
                <div class="py-2 px-6 space-y-3">
                    <div class="sm:flex-row flex-col flex space-x-2 ">
                        <span><i class="text-base mr-2 fa fa-mobile-alt"></i> Phone:</span>
                        <span class="text-gray-500">+84 0394986723</span>
                    </div>
                    <div class="sm:flex-row flex-col flex space-x-2 ">
                        <span><i class="text-base mr-2 fa fa-envelope"></i> Email:</span>
                        <span class="text-gray-500">lorem@gmail.com</span>
                    </div>
                </div>

                <div class="border"></div>
                <div class="py-2 px-6 space-y-3">
                    <div class="sm:flex-row flex-col flex space-x-2">
                        <span><i class="text-base mr-2 fa fa-home"></i> Home:</span>
                        <span class="text-gray-500 flex-1"> 231/QL1A TP lorem, Tinh Lorem </span>
                    </div>
                    <div class="sm:flex-row flex-col flex space-x-2">
                        <span><i class="text-base mr-2 fa fa-city"></i> Work:</span>
                        <span class="text-gray-500 flex-1">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Nesciunt deleniti ipsum natus recusandae veritatis ullam unde voluptatibus.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-window-layout>