<div class=" bg-white p-2 space-y-3 font-normal min-w-[299px]">
    <div class="flex items-center space-x-3" >
        <mat-icon>info_outline</mat-icon>
        <p class="font-semibold" >Sidekick Schedule</p>
    </div>
    
    <div class="ml-3" >
        <p> Version: 1.0 </p>
        <p> realease: 15/10/2923 </p>
        <p> angular: 15.0 </p>
        <p> nodejs: 18.15.0 </p>
        <p> Author: Vo Tran Gia Hao </p>
        <p> School: HCMUS </p>
        <p> Email: haovvv73@gmail.com </p>
    </div>

    <div class="flex">
        <button (click)="onNoClick()" class="rounded-sm ml-auto py-1 px-2 bg-gray-200 " >close</button>
    </div>
</div>
