<div class="w-full h-full justify-center flex pt-3" cdkDrag>
    <div id="homeComponent" class="windowNotab" [ngClass]="{'scale-100':animation}" >
        <div class="window-display flex flex-col ">
            
            <div class="w-full flex items-center space-x-2 bg-gray-100 py-3 px-5">
                <img src="../../../assets/images/icons/dot-red.png" 
                class="h-4 w-4 cursor-pointer redClose"
                routerLink="/">

                <img src="../../../assets/images/icons/dot-yellow.png" 
                class="h-4 w-4 cursor-move yellowResize"
                cdkDragHandle>

                <img src="../../../assets/images/icons/dot-green.png" 
                class="h-4 w-4 cursor-pointer greenMiniSize"
                routerLink="/">
            </div>

            <ng-content select="[windowDisplay]"></ng-content>
        </div>
    </div>
</div>